body{
    box-sizing: border-box;
    max-width: 750px;
    max-height: 750px;
    margin: 0 auto;
}

.road{
    height: 750px;
    width: 750px;
    position: relative;
}

#car{
    height: 53px;
    width: 100px;
    position: relative;
    left: 150px;
    bottom: 90px;
}

#car{

    animation-name: drive;
    animation-duration: 15s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

#car1{
    height: 53px;
    width: 100px;
    position: relative;
    left: 535px;
    bottom: 230px;
    transform: rotate(-90deg);
    animation-name: drive1;
    animation-duration: 15s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes drive{

    0%  {
        left: 150px;
        bottom: 90px;
    }

    12.5%{
        left: 500px;
        bottom: 90px;
        transform: rotate(0deg);
    }

    18.75%{
        left: 610px;
        bottom: 125px;
        transform: rotate(-45deg);
    }

    25%{
        left: 640px;
        bottom: 230px;
        transform: rotate(-90deg);
    }

    37.5%{
        left: 640px;
        bottom: 580px;
        transform: rotate(-90deg);
    }

    43.75%{
        left: 600px;
        bottom: 700px;
        transform: rotate(-135deg);
    }

    50%{
        left: 500px;
        bottom: 720px;
        transform: rotate(-180deg);
    }

    62.5%{
        left: 120px;
        bottom: 720px;
        transform: rotate(-180deg);
    }

    68.75%{
        left: 35px;
        bottom: 690px;
        transform: rotate(-225deg);
    }

    75%{
        left: 12px;
        bottom: 580px;
        transform: rotate(-270deg);
    }

    87.5%{
        left: 12px;
        bottom: 230px;
        transform: rotate(-270deg);
    }

    93.75%{
        left: 40px;
        bottom: 115px;
        transform: rotate(-315deg);
    }

    100%{
        left: 120px;
        bottom: 90px;
        transform: rotate(-360deg);
    }

}

@keyframes drive1{
    0%  {
        left: 535px;
        bottom: 230px;
        transform: rotate(-90deg);
    }

    12.5%{
        left: 535px;
        bottom: 580px;
        transform: rotate(-90deg);
    }

    18.75%{
        left: 490px;
        bottom: 700px;
        transform: rotate(-135deg);
    }

    25%{
        left: 390px;
        bottom: 720px;
        transform: rotate(-180deg);
    }

    37.5%{
        left: 10px;
        bottom: 720px;
        transform: rotate(-180deg);
    }

    43.75%{
        left: -75px;
        bottom: 690px;
        transform: rotate(-225deg);
    }

    50%{
        left: -95px;
        bottom: 580px;
        transform: rotate(-270deg);
    }

    62.5%{
        left: -95px;
        bottom: 230px;
        transform: rotate(-270deg);
    }

    68.75%{
        left: -70px;
        bottom: 115px;
        transform: rotate(-315deg);
    }

    75%{
        left: 10px;
        bottom: 90px;
        transform: rotate(-360deg);
    }

    87.5%{
        left: 405px;
        bottom: 90px;
        transform: rotate(-360deg);
    }

    93.75%{
        left: 510px;
        bottom: 120px;
        transform: rotate(-405deg);
    }

    100%{
        left: 535px;
        bottom: 230px;
        transform: rotate(-450deg);
    }

}